:root {
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}
.bg-body-tertiary {
  background-color: var(--background-color) !important;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--primary-color) !important;
  color: var(--background-color) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-item .nav-link {
  transition: all 0.3s ease;
}

.nav-item .nav-link.active {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 30px;
  width: 91px;
  height: 40px;
  text-align: center;
}

.navbar.scrolled .nav-item .nav-link.active {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.navbar.scrolled .nav-item .nav-link:hover,
body.dark-mode .navbar .nav-item .nav-link.active,
body.dark-mode .navbar.scrolled .nav-item .nav-link:hover {
  color: var(--background-color);
}

.nav-item .nav-link:hover,
body.dark-mode .navbar .nav-item .nav-link:hover,
body.dark-mode .navbar.scrolled .nav-item .nav-link.active {
  color: var(--primary-color);
}

.navbar.scrolled .nav-item .nav-link,
.nav-item .nav-link.active:hover,
.navbar.scrolled .nav-item .nav-link.active:hover,
body.dark-mode .navbar .nav-item .nav-link,
body.dark-mode .navbar .nav-item .nav-link.active:hover,
body.dark-mode .navbar.scrolled .nav-item .nav-link,
body.dark-mode .navbar.scrolled .nav-item .nav-link.active:hover {
  color: var(--secondary-color);
}

.vidcontainer {
  height: 100vh;
  width: 100%;
}

.video {
  position: absolute;
  width: 4000px;
  height: 100%;
  pointer-events: none;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.bannercolor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* about */
.info-box {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  line-height: 31px;
}

.about-title {
  font-size: 64px;
  font-weight: bold;
  font-family: Impact, sans-serif;
}

.main-title {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
}
.subtitle {
  font-size: 27px;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
}
.margin-top {
  margin-top: 100px;
}
.details {
  font-size: 12px;
  font-family: Arial;
  line-height: 17px;
}

/* athletes -- ANG DUMI PA*/
.card {
  border-radius: 10px;
  height: 400px;
  width: 240px;
  background-color: var(--primary-color);
}

.card p {
  text-align: left;
  font-style: italic;
  font-size: 12px;
}

.card-img-top {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 100%;
}

.card-title {
  width: 199px;
  height: 41px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  color: var(--background-color);
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

.card h4 {
  color: white;
  opacity: 0.5;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

/* services */
#services {
  height: 524px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#services .icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

#services i {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 10px;
}

#services .icon-label {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
}
