:root {
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #d9d9d9;
  --tertiary-color: #464646;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--background-color);
}
.aboutTitle {
  font-size: 48px;
  font-weight: bold;
  font-family: Impact, sans-serif;
}

.left-column {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.profileSection {
  text-align: center;
}

.profileSection img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profileSection2 img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.nav-item {
  border-bottom: 1px solid white;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  font-size: 24px;
  width: 100%;
  cursor: pointer;
}

.nav-section .nav-item:hover {
  background-color: rgba(185, 185, 185, 0.199);
}

.nav-section .nav-item.active {
  background-color: rgba(185, 185, 185, 0.399);
}

#rightSide {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-bar {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
  padding: 5px;
}

.search-bar input {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 11px;
  padding: 0 5px;
}

.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-bar input:focus {
  outline: none;
  box-shadow: none;
}

.search-bar i {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0.5;
  margin-right: 5px;
}

.card {
  border-radius: 20px;
  margin: auto;
  background-color: var(--background-color);
  max-width: 18rem;
}

.cardHeader,
.cardEvent {
  background-color: var(--primary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  font-size: 20px;
  color: var(--background-color);
}

.cardText {
  text-align: center;
  font-size: 24px;
}

.cardBody,
.cardEventBody {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cardTitle {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 96px;
}
.cardEventBody p {
  line-height: normal;
}

.form-control-custom {
  background-color: #ddd2d2;
  border: 1px solid black;
  border-radius: 5px;
}

.fa-edit {
  color: black;
  cursor: pointer;
}

.fa-edit:hover {
  color: #007bff;
}

.btnForm {
  width: 100%;
  text-align: center;
  background-color: #ddd2d2;
  border-radius: 10px;
  color: var(--primary-color);
}

.btnDelete {
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: transparent;
  border-radius: 50px;
  font-size: 12px;
}

.athleteCard {
  position: relative;
}

.editIcon {
  cursor: pointer;
  color: var(--background-color);
}

#editModal {
  background-color: #00000091;
}

.updateBtn {
  background-color: #00a651;
  color: white;
  border-radius: 10px;
}

.updateBtn:hover {
  border: 1px solid #00a651;
  color: #00a651;
  background-color: transparent;
}

.doneBtn {
  background-color: #ddd2d2;
  color: black;
  border-radius: 10px;
}

.doneBtn:hover {
  border: 1px solid #ddd2d2;
  color: #ddd2d2;
  background-color: transparent;
}

.deleteBtn {
  background-color: #f0282d;
  color: white;
  border-radius: 10px;
}

.deleteBtn:hover {
  border: 1px solid #f0282d;
  color: #f0282d;
  background-color: transparent;
}

.btnEdit {
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 20px;
  font-size: 12px;
}

/* calendar */
.calendar-day {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.has-event {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
}

.calendar-navigation button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.calendar-navigation button:hover {
  border: 1px solid #000000;
  color: var(--primary-color);
}

#monthLabel {
  font-size: 48px;
  font-weight: bold;
}

/* health */
.healthCard {
  margin: 0 auto;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.healthBody {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthTitle {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  color: var(--background-color);
  border-radius: 20px;
}
.settingsHeader {
  font-size: 32px;
}

/* modal */
.modal-content {
  padding: 20px;
}
.modal-header {
  background-color: var(--primary-color);
  color: var(--background-color);
}

#accountButtons {
  display: none; 
}


@media (max-width: 768px) {
  .btnDelete{
    display: none;
  }
  #monthLabel {
    font-size: 36px;
  }

  #calendar {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    overflow-x: auto;
  }

  .calendar-navigation {
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
  }

  .calendar-navigation button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .healthCard {
    width: 70%; 
    margin-bottom: 15px;
  }

  .healthBody {
    height: 150px; 
  }

  .healthTitle {
    font-size: 16px;
  }

  /* #settingsSection label {
    font-size: 10px;
  }
  #settingsSection input {
    font-size: 10px;
  }
  
  #accountButtons {
    display: flex !important;
    flex-direction: column;
  }

  #accountButtons button {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .passwordAndDeleteColumm,
  .profileColumn {
    display: none;
  } */
}

@media (max-width: 768px) {
  .card p {
    font-size: 10px;
  }

  .cardTitle {
    font-size: 14px;
  }

  .col-md-3 {
    width: 60px;
  }

  .profileSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileSection img {
    display: block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .profileSection2 img {
    display: block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    object-fit: cover;
  }

  .profileSection .btnEdit {
    display: none !important;
  }

  .profileSection i.fa-pen {
    display: block !important;
  }

  .profileSection .athleteName,
  .profileSection .athleteSport,
  .olympicLogo {
    display: none !important;
  }

  .profileSection .athleteName + .athleteSport + .btnEdit {
    display: block;
  }

  .nav-section .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .nav-section .nav-item b {
    display: none;
  }

  .nav-section .nav-item:nth-child(1)::before {
    content: "\f0c0"; 
  }

  .nav-section .nav-item:nth-child(2)::before {
    content: "\f2f2";
  }

  .nav-section .nav-item:nth-child(3)::before {
    content: "\f0f1";
  }

  .nav-section .nav-item:nth-child(4)::before {
    content: "\f0c1"; 
  }

  .nav-section .nav-item:nth-child(5)::before {
    content: "\f013";
  }

  .nav-section .nav-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
  }

  .aboutTitle {
    font-size: 40px;
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .px-3 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .mx-3 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  #rightSide .athleteCard .card-img-top,
  #rightSide .athleteCard h4 {
    display: none;
  }

  #rightSide .athleteCard .card-body h5 {
    display: block;
    text-align: center;
    margin: 10px;
  }

  #rightSide .athleteCard .card-body {
    padding: 5px;
  }

  #rightSide .row {
    display: flex;
    flex-wrap: wrap;
  }

  #rightSide .athleteCard {
    flex-basis: 100%;
    text-align: center;
  }

  #rightSide .athleteCard .card-body {
    display: block;
    text-align: center;
  }

  #rightSide .col-lg-3,
  #rightSide .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-md-3 {
    width: 15%;
  }

  .col-md-9 {
    max-width: 85%;
  }

  .athleteCard {
    margin-bottom: 10px;
  }

  .mb-4 {
    margin-bottom: 0.5rem !important;
  }
  .container.my-5 {
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  body {
    background-size: auto;
  }
}

@media (max-width: 767px) {
  .cardBody,
  .cardEventBody {
    display: none;
  }

  .cardHeader,
  .cardEvent {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .calendar-navigation .btn {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .cardBody,
  .cardEvent {
    display: block;
  }
}

@media (min-width: 900px) {
  #olympicLogoDiv {
    display: none;
  }
  
  #olympicLogoImg {
    display: block !important;
  }
}

